<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Adote uma árvore</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-M9LE8B0E83"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-M9LE8B0E83');
  </script>

  {% block styles %}
  <link rel="icon" href="{{ url_for('static', filename='/img/favicon.png')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  {% endblock %}
</head>


<body>
  <!--====== Scroll To Top Area Start ======-->
  <div id="scrollUp" title="Scroll To Top">
    <i class="fas fa-arrow-up"></i>
  </div>
  <!--====== Scroll To Top Area End ======-->
  <!-- ***** Header Start ***** -->
  <header class="navbar navbar-sticky navbar-expand-lg navbar-dark">
    <div class="container position-relative">
      <a class="navbar-brand">
        <img class="navbar-brand-regular" src="/static/img/icon/logoBranca.png" alt="brand-logo" style="padding: 5px;width: 200px;">
        <img class="navbar-brand-sticky" src="/static/img/icon/logoVerde.png" alt="sticky brand-logo" style="width: 155px;padding: 10px 0px;">
      </a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="navbarToggler" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-inner">
        <!--  Mobile Menu Toggler -->
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="navbarToggler"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <nav>
          <ul class="navbar-nav" id="navbar-nav">
            <li class="nav-item">
              <a class="nav-link scroll" href="#features">Quem somos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link scroll" href="#service-area">Nossa Missão</a>
            </li>
            <li class="nav-item">
              <a class="nav-link scroll" href="#work-area">Como Funciona</a>
            </li>
            <li class="nav-item">
              <a class="nav-link scroll" href="#pricing">Empresas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link scroll" href="#contact">Contato</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <div class="main">
    {% block content %}
    {% endblock %}
  </div>

  {% block scripts %}
  <script src="{{ url_for('static', filename='js/jquery/jquery.min.js')}}"></script>

  <script src="{{ url_for('static', filename='js/bootstrap/popper.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/plugins/plugins.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/active.js')}}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="{{ url_for('static', filename='js/main.js')}}"></script>
  {% endblock  %}

</body>

</html>